@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Basic table styling */
table {
    margin: 0 10%;
    width: 80%;
    border-collapse: collapse;
}

/* Add zebra-striping for alternate rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Header row styling */
th {
    background-color: #999;
    color: black;
    padding: 15px;
    text-align: left;
}

/* Data row styling */
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Hover effect for rows */
tr:hover {
    background-color: #ddd;
    cursor: pointer;
}
